<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <div class="cards">
    <mat-card class="button-panel">
      <app-button-panel [size]="{count: count, rowCount: rowCount}"></app-button-panel>
    </mat-card>
    <mat-card class="manual">
      <app-manual-override (manualEvent)="handdleFromManual($event)"></app-manual-override>
    </mat-card>
  </div>
  <button class="reset-button" mat-flat-button color="accent" (click)="triggerReset()">Reset</button>
</div>
